*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 190px;
    background-color: blue;
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    justify-content: flex-start;
    
    
   
}

header figure{
    background-color: orange;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    order:1 ;
    height: 190px;
    
   

    /* flex: 1; */
   

}
header figure img{
    height: 90px;
    border-radius: 100%;
    box-shadow: 10px    black;
    
    
}

header nav{
    background-color: green;
    width:100%;
    order:4;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* flex: 6; */
   
}

header nav a {
color: white;
text-decoration:none;
width:10%;
height:100%;
text-align: center;
background-color: gray;
font-size: 20px;
display: flex;
flex-flow: column nowrap; 
margin-right: 20px;

}

header nav a i{
    order:2;
    
}

header nav span{
    order:1;
    
}

header div#registro{
background-color: yellow;
width: 20%;
order: 2;
/* flex: 1; */
}

main {
    height: 20px;
    
}

header #search {
    width:  60%;
    background-color: none;
    order: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    
}
header #search input {
    height: 50px;
    width: 80%;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 20px;
    color: blue ;

    background-repeat: no-repeat;
    background-position: center right;

}
header #registro {
    order: 3;
    display: block;
    display: flex;
    background-color: yellow;
    width: 30%;
    flex-flow: column nowrap;
    justify-content: space-around;


}

header #registro #user input{
    display: flex;
    flex-flow:column nowrap;
}


header input {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 20px;
    



}
header #registro #user label{
    display: flex;
    flex-flow:column nowrap;
    font-weight: bold;
    font-style: italic;
    color: blue;
}

header #password #user label{
    display: flex;
    flex-flow:column nowrap;
    font-weight: bold;
    font-style: italic;
    color: blue;

}

input{
    height: 50px;
    width: 80%;
    border-radius:5px ;
    font-size: 20px;
    padding-left: 20px;
    color: blue;
 
}

body{
    background-color: aquamarine;
}
